PORT=5000
MONGODB_URI=mongodb://127.0.0.1:/digital_twin
ADMIN_EMAIL=admin@smartbuilding.com

# Custom SMTP credentials (optional)
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=your_email@gmail.com
# SMTP_PASS=your_email_app_password
